<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.2.4"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="0"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="TaskIdCurrent, TasksFinished, I_, RTStarted, I, J, K, LQBSizes, HasWork, GQAFirst, Futures, pc, FDReadsAvailable, LQA, LQB, LQASizes, RTStopped, LQAClock, LQLocks, GQALast, FuturePush, tid_, tid, GQLock, task, GQA, GQB, FDWritesAvailable, wr, GQBSize, ListenerSocketFd, KQueues, kq_out"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeInvariant"/>
        <listEntry value="1Safety"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Liveness"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="NullTask;;NullTask;1;0"/>
        <listEntry value="NumWorkers;;2;0;0"/>
        <listEntry value="GQSize;;128;0;0"/>
        <listEntry value="LQSize;;4;0;0"/>
        <listEntry value="NumConnections;;4;0;0"/>
        <listEntry value="NullLock;;NullLock;1;0"/>
        <listEntry value="NullFuture;;NullFuture;1;0"/>
        <listEntry value="NullKQ;;NullKQ;1;0"/>
        <listEntry value="KQPollNum;;1;0;0"/>
        <listEntry value="NullBlockedIOInfoType;;NullBlockedIOInfoType;1;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="scheduler"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
